@headerHeight: 120px;
@headerBackground: #fffa85;


footer {
  width: 100%;
  text-align: center;
  color: darkgray;
}

.header {
  height: @headerHeight;
  position: relative;
  box-shadow: 0 2px 3px 0.5px lightgrey;

  .logo {
    height: @headerHeight;
  }

}