@headerHeight: 120px;
@headerBackground: #fffa85;


footer {
  width: 100%;
  text-align: center;
  color: darkgray;
  height: 10px;
  border-top: 0.3px solid lightgrey;
}

.header {
  height: @headerHeight;
  position: relative;
  box-shadow: 0 2px 3px 0.5px lightgrey;
  z-index: 3;
  .logo {
    height: @headerHeight;
  }

}

// bs-callout
.bs-callout {
  padding: 20px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 10px;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info h4 {
  color: #5bc0de;
}