@import "common";

@landingBoardBlockHeight: 500px;
@linkColour: #6e7278;
body {
  font-family: "Arial";
}

.landingPageContent {
  min-width: 570px;
  height: 100%;
  padding-top: 8%;
  .landingPageBoard {
    padding: 3%;
  }

  .bottomButtonRow, .topButtonRow {
    color: @linkColour;
    border: hidden;
    text-align: center;
    padding: 1%;
  }

  .topButtonRow:hover, .bottomButtonRow:hover {
    border: 2px solid @linkColour;
    border-radius: 5%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .boardBlock {
    //height: 100px;
  }


}

@media (max-width: 1200px) {
  .landingPageContent {
    height: 100%;
  }

  .landingPageBoard {
    transform: rotate(90deg) scale(0.7, 0.7) translate(30%, 215%);
    padding-top: 0;

  }

  .mobile {
    display: block !important;
    padding-top: 0;
  }

  .desktop {
    display: none !important;
  }

  .formBlock {
    transform: translateY(50%);
  }
}