@import "landing";

.formBlock {
  padding-top: 10%;
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  align-content: center;

  input {
    border-radius: 6px;
    border: 2px dashed lightgrey;
    font-size: 19pt;
    width: 50%;
    align-self: center;
  }

  .btn-warning {
    border-radius: 6px;
    width: 30%;
    align-self: center;
    font-size: 20pt;
    font-weight: bold;
  }

  .message {
    color: #fffa85;
    text-align: center;
    font-family: monospace;
    font-size: 36pt;
    background-color: #6e7278;
    border-radius: 30%;
    padding: 2%;
    margin-bottom: 5%;
  }

}

.validInput {
  label {
    color: darkgreen !important;
  }
  color: darkgreen;
  border-color: darkgreen !important;
}

.invalidInput {
  border-color: darkred !important;
  color: darkred;

}

@media (max-width: 1200px) {
  .formBlock {
    //padding-top: 0;
    height: 100%;
    transform: translateY(20%);
  }

  footer {
    margin-top: 30%;
  }

}