<%- include('common/header', {pageTitle: "Дошки від Олежка", cssFiles: ['common.css', 'landing.css']}) %>
<!--TODO-->


<div class="container landingPageContent">
    <div class="row boardBlock">
        <!--TOP BUTTON ROW DESKTOP-->
        <div class="desktop">
            <div class="col-lg-12">
                <div class=" col-lg-4" id="completes">
                    <div class="topButtonRow"><h3>Готові дошки</h3></div>
                </div>
                <div class=" col-lg-4" id="decks">
                    <div class="topButtonRow"><h3>Деки</h3></div>
                </div>
                <div class=" col-lg-4" id="components">
                    <div class="topButtonRow"><h3>Комплектувальні</h3></div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 col-xs-3">
            <img src="assets/images/boardCropped.jpeg" class="landingPageBoard" id="board">
        </div>
        <!--TOP/BOTTOM BUTTON ROW MOBILE-->
        <div class="mobile">
            <div class="row">

                <div class="col-xs-6 col-xs-offset-4 mobile">
                    <div class="" id="completes">
                        <div class="topButtonRow"><h4>Готові дошки</h4></div>
                    </div>
                    <div class="" id="decks">
                        <div class="topButtonRow"><h4>Деки</h4></div>
                    </div>
                    <div class="" id="components">
                        <div class="topButtonRow"><h4>Комплектувальні</h4></div>
                    </div>
                    <div class="">
                        <div class="bottomButtonRow"><h4>Навчальні відео</h4></div>
                    </div>
                    <div class="">
                        <div class="bottomButtonRow"><h4>Конструктор</h4></div>
                    </div>
                    <div class="">
                        <div class="bottomButtonRow"><h4>Місця та ком'юніті</h4></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="desktop">
            <div class="col-lg-12">
                <div class=" col-lg-4">
                    <div class="bottomButtonRow"><h3>Навчальні відео</h3></div>
                </div>
                <div class="col-lg-4">
                    <div class="bottomButtonRow"><h3>Конструктор</h3></div>
                </div>
                <div class="col-lg-4">
                    <div class="bottomButtonRow"><h3>Місця та ком'юніті</h3></div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>


<%- include('common/footer', {jsFiles: ['orderPage']}) %>