<div class="col-md-6 col-lg-4 complete-card">
    <div class="thumbnail">
        <img src="assets/images/completes/complete_1.jpg">
        <div class="info">
            <h4><%= name %></h4>
            <h4>
                <small>Стиль: Фрілайд, Даунхілл</small>
            </h4>
            <h4>
                <small>Довжина: 92 см</small>
            </h4>
            <h4>
                <small>Гнучкість: жорстка</small>
            </h4>
            <h4>
                <small>Підвіски: Paris v2 180mm</small>
            </h4>
            <h4>
                <small>Колеса: Hawgs Fattie 70mm</small>
            </h4>
            <h4>Ціна: 3500грн</h4>
        </div>
    </div>
</div>