<head>
    <meta charset="UTF-8">
    <title>
        <% pageTitle %>
    </title>
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <% cssFiles.forEach(function (value) { %>
    <link rel="stylesheet" type="text/css" href="assets/css/<%= value %>"/>
    <% }) %>
</head>
<body>
<div class="container-fluid header">
    <a href="/">
        <div class="container">
            <img class="logo" src="assets/images/logo.svg">
        </div>
    </a>
</div>