<head>
    <meta charset="UTF-8">
    <title>
        <% pageTitle %>
        -- SollarOne boards</title>
    <!-- Bootsrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <% cssFiles.forEach(function (value) { %>
    <link rel="stylesheet/css" type="text/css" href="assets/css/<%= value %>"/>
    <% }) %>
</head>

<body>